// HTML browser uniform reset
// Uses normalize.scss version 8.0.0
// https://github.com/necolas/normalize.css/
@import 'styles/normalize.scss';

// Variables must be loaded before all custom CSS
@import 'styles/variables/breakpoints';
@import 'styles/variables/colours';
@import 'styles/variables/font_families';
@import 'styles/variables/font_sizes';
@import 'styles/variables/font_weights';
@import 'styles/variables/timing_functions';

// Utilities must be loaded after variables
// and before all custom components
@import 'styles/utilities/align';
@import 'styles/utilities/font/colours';
@import 'styles/utilities/font/families';
@import 'styles/utilities/font/sizes';
@import 'styles/utilities/font/styles';
@import 'styles/utilities/layout';
@import 'styles/utilities/margin';
@import 'styles/utilities/padding';
@import 'styles/utilities/position';

// Components to be loaded after all
// utilities and variables
@import 'styles/components/container';
@import 'styles/components/click_effect';
@import 'styles/components/grid/grid';
@import 'styles/components/navigation_bar';
@import 'styles/components/page_transition';

// Reusable animations
@import 'styles/keyframes/fading';
@import 'styles/containers/home';
@import 'styles/containers/work';

html, body {
  background-color: $paper;
}

html {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: $font-lato;
  font-weight: $regular;
  color: $tuatara;
  min-height: 100%;
}

#root {
  min-height: 100vh;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

h1, h2, h3,
h4, h5, h6 {
  font-weight: inherit;
  margin-top: auto;
  margin-bottom: auto;
}

a, 
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
