.tuatara { color: $tuatara; }
.jumbo { color: $jumbo; }
.waterloo { color: $waterloo; }
.silver { color: $silver; }
.gray { color: $gray; }

// Colour Palette
.white { color: $white; }
.gold { color: $gold; }
.seafoam { color: $seafoam; }
.cornrow { color: $cornrow; }
