.bold      { font-weight: $bold; }
.semi-bold { font-weight: $semi-bold; }
.regular   { font-weight: $regular; }
.light     { font-weight: $light; }
.italic    { font-style: italic }
.caps      { text-transform: uppercase; }

.left-align   { text-align: left }
.center       { text-align: center }
.right-align  { text-align: right }
.justify      { text-align: justify }

.nowrap { white-space: nowrap }
.break-word { word-wrap: break-word }
.pre-line { white-space: pre-line; }
.pre-wrap { white-space: pre-wrap; }
