$page-gutters: 14px;

.Container {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: calc(100% - (#{$page-gutters} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $page-gutters;
  padding-left: $page-gutters;
}

.Container:after,
.Container:before {
  content: " ";
  display: table;
}

@media (min-width: $large) {
  .Container {
    max-width: calc(#{$medium} + #{$page-gutters} * 2);
  }
}

@media (min-width: $xlarge) {
  .Container {
    max-width: calc(#{$large} + #{$page-gutters} * 2);
  }
}

