.NavigationBar {
  ul {
    margin: 0;
  }

  a {
    position: relative;
    color: $tuatara;
    padding: 1rem 0;
    transition: 0.3s $standard;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 100%;
      background-color: $gold;
      border-radius: 1rem;
      transition: 0.3s $standard;
      transform: scaleX(0);
      transform-origin: left;
    }

    &.active, 
    &:hover {
      color: $gold 
    }

    &:active {
      color: darken($gold, 25%);

      &:after {
        background-color: darken($gold, 25%);
      }
    }

    &:hover:after {
      transform: scaleX(0.375);
    }

    &.active:after {
      transform: scaleX(1);
    }
  }

  @keyframes NavigationBar-load-in {
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes NavigationLink-underline {
    100% {
      transform: scaleX(1);
    }
  }
}
