.NavigationBar li {
  transform: translateY(-2rem);
  opacity: 0;
  animation: 0.45s NavigationBar-scale-up 1.5s $decelerate forwards;

  a {
    position: relative;
    color: $tuatara;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.5rem;
      height: 3px;
      width: 100%;
      background-color: $gold;
      border-radius: 1rem;
      transition: 0.3s $decelerate;
      transform: scaleX(0);
      transform-origin: center;
    }

    &.active:after {
      animation: 0.3s NavigationLink-active 2s $decelerate forwards;
    }

    &:hover:after {
      transform: scaleX(1);
    }
  }

  @keyframes NavigationBar-scale-up {
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes NavigationLink-active {
    100% {
      transform: scaleX(1);
    }
  }
}
