.p0-5 { padding: 0.5rem; }
.p1-0 { padding: 1.0rem; }
.p1-5 { padding: 1.5rem; }
.p2-0 { padding: 2.0rem; }
.p2-5 { padding: 2.5rem; }
.p3-0 { padding: 3.0rem; }
.p3-5 { padding: 3.5rem; }
.p4-0 { padding: 4.0rem; }

.pt0-5 { padding-top: 0.5rem; }
.pt1-0 { padding-top: 1.0rem; }
.pt1-5 { padding-top: 1.5rem; }
.pt2-0 { padding-top: 2.0rem; }
.pt2-5 { padding-top: 2.5rem; }
.pt3-0 { padding-top: 3.0rem; }
.pt3-5 { padding-top: 3.5rem; }
.pt4-0 { padding-top: 4.0rem; }

.pr0-5 { padding-right: 0.5rem; }
.pr1-0 { padding-right: 1.0rem; }
.pr1-5 { padding-right: 1.5rem; }
.pr2-0 { padding-right: 2.0rem; }
.pr2-5 { padding-right: 2.5rem; }
.pr3-0 { padding-right: 3.0rem; }
.pr3-5 { padding-right: 3.5rem; }
.pr4-0 { padding-right: 4.0rem; }

.pb0-5 { padding-bottom: 0.5rem; }
.pb1-0 { padding-bottom: 1.0rem; }
.pb1-5 { padding-bottom: 1.5rem; }
.pb2-0 { padding-bottom: 2.0rem; }
.pb2-5 { padding-bottom: 2.5rem; }
.pb3-0 { padding-bottom: 3.0rem; }
.pb3-5 { padding-bottom: 3.5rem; }
.pb4-0 { padding-bottom: 4.0rem; }

.pl0-5 { padding-left: 0.5rem; }
.pl1-0 { padding-left: 1.0rem; }
.pl1-5 { padding-left: 1.5rem; }
.pl2-0 { padding-left: 2.0rem; }
.pl2-5 { padding-left: 2.5rem; }
.pl3-0 { padding-left: 3.0rem; }
.pl3-5 { padding-left: 3.5rem; }
.pl4-0 { padding-left: 4.0rem; }

