.p0-5 { padding: 0.5rem; }
.p1 { padding: 1rem; }
.p1-5 { padding: 1.5rem; }
.p2 { padding: 2rem; }
.p2-5 { padding: 2.5rem; }
.p3 { padding: 3rem; }
.p3-5 { padding: 3.5rem; }
.p4 { padding: 4rem; }

.pt0-5 { padding-top: 0.5rem; }
.pt1 { padding-top: 1rem; }
.pt1-5 { padding-top: 1.5rem; }
.pt2 { padding-top: 2rem; }
.pt2-5 { padding-top: 2.5rem; }
.pt3 { padding-top: 3rem; }
.pt3-5 { padding-top: 3.5rem; }
.pt4 { padding-top: 4rem; }

.pr0-5 { padding-right: 0.5rem; }
.pr1 { padding-right: 1rem; }
.pr1-5 { padding-right: 1.5rem; }
.pr2 { padding-right: 2rem; }
.pr2-5 { padding-right: 2.5rem; }
.pr3 { padding-right: 3rem; }
.pr3-5 { padding-right: 3.5rem; }
.pr4 { padding-right: 4rem; }

.pb0-5 { padding-bottom: 0.5rem; }
.pb1 { padding-bottom: 1rem; }
.pb1-5 { padding-bottom: 1.5rem; }
.pb2 { padding-bottom: 2rem; }
.pb2-5 { padding-bottom: 2.5rem; }
.pb3 { padding-bottom: 3rem; }
.pb3-5 { padding-bottom: 3.5rem; }
.pb4 { padding-bottom: 4rem; }

.pl0-5 { padding-left: 0.5rem; }
.pl1 { padding-left: 1rem; }
.pl1-5 { padding-left: 1.5rem; }
.pl2 { padding-left: 2rem; }
.pl2-5 { padding-left: 2.5rem; }
.pl3 { padding-left: 3rem; }
.pl3-5 { padding-left: 3.5rem; }
.pl4 { padding-left: 4rem; }

.px0-5 { 
  padding-left: 0.5rem; 
  padding-right: 0.5rem;
}
.px1 { 
  padding-left: 1rem; 
  padding-right: 1rem; 
}
.px1-5 { 
  padding-left: 1.5rem; 
  padding-right: 1.5rem; 
}
.px2 { 
  padding-left: 2rem; 
  padding-right: 2rem; 
}
.px2-5 { 
  padding-left: 2.5rem; 
  padding-right: 2.5rem; 
}
.px3 { 
  padding-left: 3rem; 
  padding-right: 3rem; 
}
.px3-5 { 
  padding-left: 3.5rem; 
  padding-right: 3.5rem; 
}
.px4 { 
  padding-left: 4rem; 
  padding-right: 4rem; 
}

.py0-5 { 
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py1 { 
  padding-top: 1rem; 
  padding-bottom: 1rem; 
}
.py1-5 { 
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py2 { 
  padding-top: 2rem; 
  padding-bottom: 2rem; 
} 
.py2-5 { 
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
} 
.py3 { 
  padding-top: 3rem; 
  padding-bottom: 3rem; 
} 
.py3-5 { 
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
} 
.py4 { 
  padding-top: 4rem; 
  padding-bottom: 4rem; 
}
