// Text Colours
$tuatara: #373737;
$jumbo: #4A4A4A;
$waterloo: #757575;
$silver: #9E9E9E;
$gray: #BDBDBD;

// Colour Palette
$white: #FFFFFF;
$paper: #F4F4F4;
$gold: #CEB68D;
$silk: #DCD0C0;
$seafoam: #71B4BA;
$cornrow: #0A5D7C;
$cherry: #DD574F;
$flamingo: #F5CACA;
